@import "~bootstrap/scss/bootstrap.scss";
*{
    margin: 0%;
    padding: 0%;
    
}
.card-img-top{
    margin-top: 10px;
}
h1{
    color: rgb(121, 39, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 3%;
    margin: 2%;
}
.cards{
    margin-left: 3%;
    margin-top: 2%;
    background-image: url("https://i.pinimg.com/474x/0f/26/3a/0f263aba064524946bf57ad63e767ecf.jpg");
}
.card-title{
    font-size: 15px;
    margin-left: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}
.card-body{
    justify-content: space-between;
}
.boton{
    justify-content: flex-start;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
} 
#corazon{
    font-size: 15px;
    margin-top: 4px;
  

}
.cajaBoton{
    height: 30px;
    display: flex;
   align-items: center;

}
#dropdownMenuButton{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.carac{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5px;
    margin-top: 10px;
    list-style: none;
    font-size: 10px;
}
.fa-jedi-order{
    margin-right: 5px;
}
.cardImg{
    width: 500px;
    height: 400px;
}

.caracteristicas{
    width: 100%;
    text-align: center;
    margin: 50px;
}
ul{
    list-style: none;
}
.nombres{
    text-align: center;
}
.charaster{
    color: rgb(121, 39, 39);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.linea{
    background-color: rgb(121, 39, 39);
    height: 5px;
    width: 100%;
    margin-top: 20px;
}
#back{
    width: 40%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30%;
    margin-top: 10%;
}
.elemen{
    margin-left: 10px;
    margin-top: 15px;
}
.trash{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(121, 39, 39);
    width: 150px;
    border-color: white;
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
#bote{
    color: white;
    background: none;
    border: none;
    margin-right: 10px;
}
#registro{
    margin-top: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#login{
   margin-top: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
#floatingInput{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
#floatingPassword{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}